<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>LibraryLite</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>LibraryLite</h1>

        <nav>
            <a href="/">Home</a>
            <a href="/books-list">Książki</a>

            {% if request.cookies.get("user") %}
                <a href="/my-loans">Moje wypożyczenia</a>
                <a href="/logout">Wyloguj</a>
            {% else %}
                <a href="/login">Zaloguj</a>
                <a href="/register">Rejestracja</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
